<!DOCTYPE html>
<html lang="de" class="h-full">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <title>API ORN - API for an Orthographic Recognising Network</title>

  <head>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="static/css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js"></script>
  </head>

  <body class="h-full">
    {{{body}}}
  </body>
</html>
